<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='styles/about.css')}}">
  </head>
  <header></header>
  <body>
    <ul class = "navBar">
      <li class = "navBarItem"><a class = "navBarItem" href="{{url_for('home')}}">Home</a></li>
      <li class = "navBarItem"><a class = "navBarItem" href="{{url_for('projects')}}">Projects</a></li>
      <li class = "navBarItem"><a class = "navBarItem" href="{{url_for('about')}}">About</a></li>
      <li class = "navBarItem"><a class= "navBarItem" href="../static/pdfs/CV.pdf" target= '_blank_'>CV</a></li>
    </ul>
    <h1>About Me</h1>
    <div class = "bio">
      <p>
        I am a driven, hard-working, and creatively-inclined computer science student with
        a desire to explore the intersections of Computer Science and the areas of
        Biology, Music, and Sustainability. I have experience in C++ and Python as well
        as experience working with Unix, Mac, and Windows operating systems. I have a self-propelled
        personality that excels in working in a team and making sure that everyone's voices are heard in
        a manner that creates the most successful result.
      </p>
    </div>
  </body>
</html>
