<!DOCTYPE html>

<html>
  <head>
    <ul class = "navBar">
      <li class = "navBarItem"><a class = "navBarItem" href="{{url_for('home')}}">Home</a></li>
      <li class = "navBarItem"><a class = "navBarItem" href="{{url_for('projects')}}">Projects</a></li>
      <li class = "navBarItem"><a class = "navBarItem" href="{{url_for('about')}}">About</a></li>
    </ul>
    <title>Oshin Joshi</title>
    <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='styles/home.css')}}">
  </head>
  <header></header>
  <body>
    <div>
      <h1><i>Oshin Joshi</i></h1>
      <p>Software Developer :D</p>
    </div>
  </body>
</html>
