body {
  /* background: #000000; */
  /* background: linear-gradient(#04619f 0%, #000000 120%); */
  background-color: #07403F;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

  padding: 0;
  margin: 0;
  height:100vh;
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

h1  {
  text-align: center;
  background: linear-gradient(#98F8FE 20%, #000000 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15vh;
  padding-bottom: 0;
  margin-bottom: 0;
}

@keyframes fadeheader {
  0% { opacity:0; }
  50% { opacity:0; }
  100% { opacity:1; }
}

p {
  margin-top: 2vh;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-align: center;
  color: #dbfdff;
  font-size: 2vh;
  width: 50vw;
}

.navBar {
  text-align: center;
  list-style-type: none;
  margin-top: 3vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 0;
  overflow: hidden;
  /* background: #E2D5E6; */
  /* background: linear-gradient(#E2D5E6 0%, #000000 120%); */
  /* box-shadow: 0px 0px 8px 2px #2F4353; */
}

li.navBarItem {
  display: inline-block;
}

a.navBarItem {
  color: #dbfdff;
  font-size: 2.5vh;
  text-align: center;
  text-decoration: none;
  padding: 1.5vh 1.5vw;
}

li.navBarItem a.navBarItem:hover {
  background-color: #dbfdff;
  transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -webkit-transition: background .5s ease-in-out;
  color: #000000;
  border-radius: 10%;
}

.bio {
  text-align: center;
  width: 50vw;
  height: 50vh;
  margin: auto;
  margin-top: 5vh;
}
